langchain
langgraph
langchain-community
langchain_ollama
langchain-google-genai
python-dotenv
requests
python-certifi-win32 # this is required for ssl certificate verification on Windows
fastapi
uvicorn[standard]
pydantic
psycopg2-binary
